@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
.img {
    width: 350px;
    height: 250px;
    background-color: azure;
}