* {
    box-sizing: border-box;
}

:root {
    --primary: black;
    --secondary: slategray;
    --container: lightgray;
    --background: ghostwhite;
    --heading-font: "Kumbh Sans", sans-serif;
    --text-font: "Montserrat", sans-serif;
}

.primary-text {
    font-family: var(--heading-font)
}

.secondary-text {
    font-family: var(--text-font);
}

.header {
    display: flex;
    background-color: var(--secondary);
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}

.heading {
    color: var(--primary);
    font-family: var(--heading-font);
    margin-top: 10px;
}

.search-label {
    font-family: var(--text-font);
    font-weight: bold;
    margin-top: 5px;
}

.search-wrap-style {
    background-color: lightblue;
}

.text-input {
    margin-bottom: 5px;
}

.current-style {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: lightblue;
    margin-bottom: 8px;
    border-radius: .25rem;
}

.detail-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
    width: 100px;
    height: 100px;
}

.results {
    border: 0;
}

.uv-class {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uv-result {
    font-size: 25px;
    margin-left: 10px;
    padding: 2px 10px;
    color: white;
}

.forecast-wrap {
    border: 0;
}

.forecast-card {
    margin-right: 5px;
    text-align: center;
}

.forecast-class {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    border-radius: .25rem;
}

.forecast-icon {
    width: 75px;
    height: 75px;
}

@media screen and (max-width: 1199px) {
    .heading {
        font-size: 2rem;
    }

    .secondary-text {
        font-size: 1.5rem;
    }

    .forecast-class {
        flex-direction: column;
    }

    .forecast-card {
        margin-bottom: 2px;
        text-align: center;
    }

    .forecast-card h5 {
        font-size: 1.50rem;
    }

    .forecast-card h6 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 991px) {
    .search-wrap-style {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }
}